body {
    color: white;
    font-size: 30px;
    background-color: black;
}

.resaltar {
    transition: transform 2s;
    transform: scale(1.5);
}


#colores {
    position: relative;
    
}

#contenedor {
    margin-top: 100px;
    margin-left: 550px;
}

#numero-ronda{
    margin-left: 10px;
}

#turno{
    margin-left: 300px;
}

#jugar{
    margin-left: 300px;
}