body {
  color: white;
  font-size: 30px;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.resaltar {
  transition: transform 2s;
  transform: scale(1.5);
}

.colores {
  opacity: 0.5;
  transition: opacity 500ms;
}

.col-md-6 {
  display: grid;
  justify-content: center;
}

#columna-estado {
  display: grid;
  justify-content: center;
}
